<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 경로를 namespace에 작성 -->
<mapper namespace="com.megait.example.mappers.ReplyMapper">
	<insert id="insert">
		INSERT INTO TBL_REPLY (RNO, BNO, REPLY, REPLIER)
		VALUES (NEXTVAL(SEQ_REPLY), #{bno}, #{reply}, #{replier})
	</insert>
	<select id="read" resultType="replyVO">
		SELECT RNO, BNO, REPLY, REPLIER, REPLYDATE, UPDATEDATE
		FROM   TBL_REPLY
		WHERE  RNO = #{rno}
	</select>
	<delete id="delete">
		DELETE FROM TBL_REPLY WHERE RNO = #{rno}
	</delete>
	<update id="update">
		UPDATE TBL_REPLY
		SET    REPLY = #{reply}
			 , REPLIER = #{replier}
		     , UPDATEDATE = SYSDATE()
		WHERE RNO = #{rno}     
	</update>
	<select id="getListWithPaging" resultType="replyVO">
		SELECT RNO, BNO, REPLY, REPLIER, REPLYDATE, UPDATEDATE
		FROM   TBL_REPLY
		WHERE  BNO = #{bno}
		ORDER BY RNO DESC
		LIMIT #{cri.limit} OFFSET #{cri.offset}
	</select>
	<select id="getTest" resultType="replyVO">
		SELECT * FROM TBL_REPLY
		WHERE	BNO = #{bno} AND RNO = #{rno}
	</select>
</mapper>