<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Error Page</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700"
	  rel="stylesheet">
<link rel="stylesheet" href="/css/exception.css" type="text/css"/>
</head>
<body>
	<div id="exception">
		<div class="exception-cls">
			<h1>Sorry</h1>
			<h2>Check it out</h2>
			<h2>By Yourself</h2>
			<hr>
			<a href="javascript:history.go(-1)" style="color:#ff8b77;">Go To Back</a><br>
			<a href="/board/list">Go To Board</a>
		</div>
	</div>
</body>
</html>